<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/admin0.css" rel="stylesheet">

</head>
<body>

    <!-- nav temp  -->
    <% include ../nav/navbar %>
    <div class="container" id="layout_container">
        <div class="row" id="layout_row" >
            <div class="col-xs-12 col-md-6" id="board_container">
                    <div class="row" id="board_row" >
                            <div id="socities_bloc" class="column col-xs-1 col-md-1">
                                
                                <div class="row">
                                    <div id="add_socity" class="col-xs-12 item">
                                        <center> <li  class="circle_item add" title="add a socity" onclick="document.getElementById('socity_model').style.display='block'"></li> </center>  
                                        <hr>
                                        <center><span id="socities_count" class="badge">?</span></center>    
                                    </div> 

                                    <div class="col-xs-12 item">
                                        <ul id="socities" class="list-group">
                                            <!-- <center> <li id="add_socity" class="circle_item socity"></li> </center> -->  
                                        </ul>
                                    </div>
                                    
                                    <div class="col-xs-12 item">
                                        <hr>    
                                    </div> 
                                    
                                </div>
                                
                            </div>



                            <div id="employee_bloc" class="column col-xs-11 col-md-4">
                                <div class="row">
                                </div>  
                            </div>




                            <div id="c" class="column hidden-xs hidden-sm col-md-7"></div>
                                        
                    </div>
            </div>
            
        </div>
    </div>


     <!-- The Modals -->
     <div id="socity_model" class="modal">
        <!-- Add socity form  -->
        <% include ../forms/add_socity %>
    </div>

    <div id="manager_model" class="modal">
        <!-- Add manager form  -->
        <% include ../forms/add_manager %>
    </div>

    <div id="worker_model" class="modal">
        <!-- Add worker form  -->
        <% include ../forms/add_worker %>
    </div>

    <div id="confirmation_model" class="modal">
        <!-- confirmation_dell form  -->
        <% include ../forms/confirmation_dell %>
    </div>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Responcive -->
<script> 
  
    $( window ).resize(function() {
        var size = $( window ).width()+15
        if (size <= 500){
            $(".circle_item").css({'height': '25px', 'width': '25px'})
        }
        else{
            $(".circle_item").css({'height': '35px', 'width': '35px'})
        }  
    });     
</script>

<!-- Models -->
<script>
    
    // Get the modal
    var socity_model = document.getElementById('socity_model');
    var manager_model = document.getElementById('manager_model');
    var worker_model = document.getElementById('worker_model');
    var confirmation_model = document.getElementById('confirmation_model');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == socity_model) {
            socity_model.style.display = "none";
        }
        if (event.target == manager_model) {
            manager_model.style.display = "none";
        }
        if (event.target == worker_model) {
            worker_model.style.display = "none";
        }
        if (event.target == confirmation_model) {
            confirmation_model.style.display = "none";
        }
    }
</script>

<!-- Display Data -->
<script>


    // Display socity Schema
    var display_socity_schema = function(socity_name){
        $("#employee_bloc")

            /* Managers Schema */
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append($("<li>").text(socity_name).attr({"class":"socity_name"})
                                
                    )
                    .append(
                        $("<li>")
                            .attr({"class": "circle_item add add-employee", "title": "add a manager", "onclick": "document.getElementById('manager_model').style.display='block'" })
                    ) 
            )
            
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append("<hr>")
                    .append(
                        $("<center>")
                                .append(
                                    $("<span>")
                                        .attr({'id': 'managers_count', 'class': 'badge'})
                                        .text('?')
                                )
                    )
            )
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append(
                        $("<center>")
                            .append(
                                $("<ul>")
                                        .attr({'id': "managers", 'class': "list-group"})
                                        )
                    ) 
           )
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append("<hr>")  
            )

            
            /* Workers Schema */
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append(
                        $("<li>")
                            .attr({"class": "circle_item add add-employee", "title": "add a Worker", "onclick": "document.getElementById('worker_model').style.display='block'" })
                    ) 
            )
            
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append("<hr>")
                    .append(
                        $("<center>")
                                .append(
                                    $("<span>")
                                        .attr({'id': 'workers_count', 'class': 'badge'})
                                        .text('?')
                                )
                    )
            )
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append(
                        $("<ul>")
                                .attr({'id': "workers", 'class': "list-group"})
                ) 
           )
            .append(
                $("<div>")
                    .attr({'class': "col-xs-12 item"})
                    .append("<hr>")  
            )       
    }


    // Display socity data
    var display_socity_data = function(id){
        // Display Managers
        var display_manager = $.get("<%= site %>/dataBase/get_managers?id="+ id+ "&format=json", function(managers){
            managers.forEach(function(manager) {
                /* Display manager item */
                $("#managers").append(
                    
                    $("<li>")
                        .attr({'id': manager._id,'class': "list-group-item"})
                        .append(
                            $("<li>")
                                .attr({'class': "circle_item employee"})
                             
                       )
                       .append(
                            $("<li>")
                                .attr({'class': "employee_pseudo"})
                                .text(manager.pseudo)
                       )
                       .append(
                            $("<ul>")
                                .attr({'class': "edit_employee"})
                                .append(
                                    $("<li>")
                                        .attr({'class': "dell_employee"})
                                        .click(function(){
                                            var id = $(this).parent().parent().attr('id');
                                            $("input[name=employee_id]").val(id);
                                            
                                            $("#confirmation_model form")
                                                .attr({
                                                    'method': 'post',
                                                    'action': "<%= site %>/dataBase/dell_user?id="+ id
                                                })
                                            
                                            
                                            document.getElementById('confirmation_model').style.display='block';
                                        })
                                )
                       )
                )
                

                /* Display workers item */
                $("#managers").append(

                )

            })
            $("#managers_count").text(managers.length);
                    
        })

        display_manager;
    }

    // Display socities
    var display_socities = $.get("<%= site %>/dataBase/get_socities?id=<%= user._id %>&format=json", function(socities){
        socities.forEach(function(socity) {
            /* Display socity item */
           /*  <center> <li id="add_socity" class="circle_item socity"></li> </center>   */
            $("#socities").append(
                $("<center>").append(    
                    $("<li>")
                        .attr({
                            'class':'circle_item socity unselected_socity',
                            'title': socity.name,
                            'id':socity._id
                            })
                        .click(function(){
                            if($(this).attr("class") == "circle_item socity unselected_socity"){
                                /* Clear the area */
                                $("#employee_bloc").html("");
                                /* Unselect all items */
                                $(this).parent().parent().find(".selected_socity").attr({'class': "circle_item socity unselected_socity"})
                                $("#employee_bloc").css({'background-color': '#3e3e63'})
                                /* Select curent item */
                                $(this).attr({'class': "circle_item socity selected_socity"});
                                $("input[name=manager_socity]").val(socity._id);
                                
                                /* Display Socity Schema */
                                display_socity_schema(socity.name);

                                /* Display Socity data */
                                display_socity_data(socity._id);
                            }
                            else{
                                /* Unselect curent item */
                                $(this).attr({'class': "circle_item socity unselected_socity"})
                                $("#employee_bloc").css({'background-color': '#323339'})
                                $("input[name=manager_socity]").val("");
                                $("#employee_bloc").html("");
                            }
                        })
                )
            )
        });
        $("#socities_count").text(socities.length);
    });


    display_socities;
</script>
</html>