<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <!-- Slidebars -->
    <link rel="stylesheet" href="stylesheets/slidebar/def_custom_slidebar.css">
   
    
</head>
    <body>
        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        

        <!-- nav bar  -->
        <% include ../nav/def_navbar %>
        <div id="main-content" class="" canvas="container">

            <h1>Profile: <%= user.pseudo %></h1>  
        
        </div><!-- Container-->
        
        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        
        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- SideBar -->
        <script src="javascripts/slidebar/slidebars.js"></script>
        <script src="javascripts/slidebar/def_custom_slidebar.js"></script>
                 
    </body>

</html>
