<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link href="/stylesheets/style.css" rel="stylesheet"> -->

  </head>

  <body>
  
    <nav>
      <!-- nav temp  -->
      <% include nav/navbar %>
      <h1>Home Page</h1>
    </nav>

  </body>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script>
    /* var socket_url = "http://localhost:3000":
    var socket = io(socket_url);   */
  </script>
</html>
