<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form>
        <input id ="id" type="" name="" value="">
        <br>
        <input id ="mdp" type="" name="" value="">
        <br>
        <input id ="btn" type="button" value="add"/>
    </form>
        list
        <ul>
        </ul>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     var socket_url = "http://localhost:3000";
     var socket = io(socket_url);
     $("#btn").on("click",function(){
        if($("#id").val()!="" && $("#mdp").val()!="" ){
            socket.emit("add_c", {
                "id":$("#id").val(),
                "mdp":$("#mdp").val()
                })
            }
        else 
            alert("empty value")
     })


     socket.on("db",function(db){
         $("ul").text("");
         db.forEach(function(item, index){
            $("ul").append(
                $("<li>")
                    .append($("<span>").text(item.id).addClass("id"))
                    .append(" | ")
                    .append($("<span>").text(item.mdp).addClass("mdp"))
                    .append("    <input class ='dell' type='button' value='X'/>")
                    )
                 
         })

         $(".dell").on("click",function(){
             socket.emit("dell",$(this).parent().children(".id").text() )
             console.log($(this).parent().children(".id").text())
         })
     })  
    </script>
</html>