<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/log.css" rel="stylesheet">
    </head>
    <body>
    
    <section id="section1">
        <img src="/images/logo.png" alt="">
        <ul>
             <li><a href="#">LogIn</a></li>
        </ul>
        
    </section>
    
    <section id="section2">
        <center>
            <form>
                <input id="id" type="text" name="id" value="" placeholder="id">
                <br>
                <input id="password" type="password" name="password" value="*****">
                <br>
                <br>
                <input type="button" name="send" value="send">
            </form>
        </center>
    </section>
    
    <section id="section3">
    </section>

    </body>
    
</html>