<!DOCTYPE html>
<html lang="en">
    <head>
        <title>  </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/stylesheets/log.css" rel="stylesheet">        
    </head>
    <body>
    
        
            <div  id="left_bare"></div>
            <div  id="content">
                
                <section class="row" id="section1">
                    <div class="col-xs-1">
                            <img src="/images/logo.png" alt="">
                    </div>
                            
                    <div class="col-xs-10 ">
                         <!-- nav temp  -->
                         <% include layout %>
                    </div>
                </section>

                      
                <section class="row" id="section2">
                    <center><h1> Global Position System </h1></center>
                    
                    <form role='form'  action="/register" method="post">

                        <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type='text' name="name" placeholder='Your Name'>
                        </div>
                        
                        </br>

                        <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type='text' name="username" placeholder='Your Username'>
                        </div>
                        
                        </br>
                        
                        <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type='password' name="password" placeholder='Your Password'>
                        </div>
                        
                        <button class="btn btn-default col-xs-offset-1 col-md-offset-4" type='submit' >   Submit   </button>
                    </form>
                    
                </section>
                
                <section class="row" id="section3"></section>
  
            </div>

    </body>
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
        
        
       /*  $("form").submit(function(){
            $.post( "/register", { 
                userName: $("#userName").val(), 
                passWord: $("#passWord").val(),
                passWord: $("#name").val()
                //remember: $("#remember").is( ":checked")
            });
            return false;
        })
         */
    </script>

</html>