<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font-awesome -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <!-- Slidebars -->
        <link rel="stylesheet" href="stylesheets/slidebar/def_custom_slidebar.css">
		
	</head>

	<body>
		
		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        

        <!-- nav bar  -->
        <% include ../nav/def_navbar %>

		<!-- Container-->
		<div id="main-content" class="" canvas="container">
			<div id="board" class="container">
				<div class="row">
					<h1>Home Page</h1>
					<div class="col-xs-4"><p> ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos id possimus, dolorem ex sit est nam ducimus nulla natus, adipisci cupiditate provident blanditiis maxime consectetur itaque esse quo corporis.</p></div>
					<div class="col-xs-4"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda pariatur illo labore sequi vitae nemo eius, illum corporis repellendus velit cum, accusantium in mollitia doloremque deleniti cumque? Aut, perspiciatis?</p></div>
					<div class="col-xs-4"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit nihil suscipit, neque ut recusandae? Voluptates rem laudantium consequuntur aliquam illum? Sunt suscipit eveniet enim earum perferendis totam corrupti quia! </p></div>
				</div>
			</div>
		</div><!-- Container-->

		

	
		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- SideBar -->
        <script src="javascripts/slidebar/slidebars.js"></script>
        <script src="javascripts/slidebar/def_custom_slidebar.js"></script>
        <script>
            
            
            
        </script>
	</body>
</html>