body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul{
  float: right;
  display: inline;
  list-style: none;
  margin-right: 20px;
  position: relative;
}
ul li {
  float: right;
  display: inline;
  margin-left: 20px;
  
}
ul li a{
  text-decoration: none;
  font-size: 18px;
  color: #A93232;
  font-weight: 400;
  
}
ul li a:hover{
  color: #D80000;
  font-weight: 400;
  border-bottom: solid #1F08BF ;  
}    