<form id="register" role="form" class="row col-xs 12" autocomplete="off">
    <center> <h3>SignUp Form</h3></center>
    <div class="input-group input-group-sm col-xs-10 col-xs-offset-1">
        <span class="input-group-addon"><i class="fa fa-lg fa-user-circle" aria-hidden="true"></i></span>
        <input name="pseudo" type="text" class="form-control" placeholder="Pseudo" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm col-xs-10 col-xs-offset-1">
        <span class="input-group-addon"><i class="fa fa-lg fa-user-circle" aria-hidden="true"></i></span>
        <input name="username" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" required>
    </div>

    <div class="input-group input-group-sm col-xs-10 col-xs-offset-1">
        <span class="input-group-addon"><i class="fa fa-lg  fa-lock" aria-hidden="true"></i></span>
        <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon3" required>
    </div>
    <br>
    <button class="btn btn-success col-xs-10 col-xs-offset-1" type="submit">Log</button>
</form>