<form class="modal-content animate" role='form'  action="#" method="">
    <center><h1>Delete Worker Confirmation</h1></center>
    
    <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <label for=""><strong> WARNING ! </strong> Are you sure you want to dellete this employee</label>     
    </div>

    </br>
    

    <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input save" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Keep Tracking data as ColdCase</span>
        </label>
             
    </div>

    </br>

    
    <div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <label for="">Employee</label>
        <input class="form-control" type='text' name="employee_id" id="employee_id" value="" placeholder='Employee Id' required readonly>
    </div>
        
    </br>
   
    
    <button class="btn btn-danger col-xs-4 col-xs-offset-4  " type="submit" onclick="checkbox()" > Yes  </button>
    
    </br>
    

</form>

